
$max-width: 1200px;
$text-dark: #000;
$text-light-header: #c9c4c4;
$text-light: #767268;
$primary-color: #365486;
$primary-color-light: #DCF2F1; 
$primary-color-dark: #0F1035;
$white: #ffffff;
$secondary-color: #ff8827;
