@use './../base';


header {
    background: linear-gradient(to right,
            #0F1035 0%,
            #0F1035 50%,
            #365486 50%,
            #365486 100%);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: base.$max-width;
    margin: auto;
    padding: 2rem 1rem;

    & .nav__links {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transition: 0.8s;

        & .nav__link a {
            color: base.$text-light-header;
            transition: 0.3s;

            &:hover {
                color: base.$secondary-color;
            }
        }
    }
}

.header__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;

    & .header__content {
        & h1 {
            margin-bottom: 1rem;
            font-size: 2.5rem;
            line-height: 4rem;
            color: base.$text-light-header;
            ;

            & span {
                color: base.$secondary-color;
            }
        }

        & p {
            margin-bottom: 2rem;
            color: base.$text-light-header;
        }
    }

    .header__image img {
        border-radius: 10px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

    }
}