@use './../base';


.welcome__conatiner {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.welcome__content {
    & h2 {
        // font-size: 1.5rem;
        font-weight: 600;
        color: base.$text-dark;
        margin-bottom: 1rem;
    }

    & p {
        margin-bottom: 1rem;
        color: base.$text-light;
        // max-width: 600px;

    }
}